@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   background-color: rgb(7, 10, 15);
  font-family: "Lora", serif;
   color:rgb(163, 186, 216);
   overflow:hidden;
}

.title{
    font-size:45px;
    animation: fade-in 1.8s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to { opacity: 100 }
  }


.card-container1{
    display:flex;
    justify-content: center;
    margin:auto;
    transform:transitionY(-50%);
    animation: fade-right 2.3s;
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to { opacity: 100}
  }

.card{
    background-color: rgb(12, 17, 26);;
    padding:20px 25px;
    border-radius: 5px;
    color:rgb(163, 186, 216);
    font-family: "Lora", serif;
    font-size: 15px;
    margin:0 20px;
    max-width: 180px;
    cursor: pointer;
    transition:0.4s ease;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgb(4, 6, 8);
}


.img{
    width:180px;
    max-width:180px;
    border-radius: 5px;
}


.card-container2{
    display:flex;
    justify-content: center;
    margin:30px auto;
    transform:transitionY(-50%);
    animation: fade-left 2.3s;
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(30%);
    }
    to { opacity: 100}
  }


